body {
    background: url('background.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    padding-top: 20px;
    background-color: rgba(15, 96, 161, 0.603);
    height: 10em;
    text-align: center;
    color: rgb(164, 175, 207);
    width: 100%;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.individual-blog {
    background: rgba(125, 172, 144, 0.842);;
    text-align: center;
    padding: 20px;
    margin: 40px 0; 
    /* top and bottom 20px, left right 0px */
    border-bottom: 5px double blue; 
}

.blog-title {
    font-family: 'Times New Roman', Times, serif;
}

.blog-description {
    text-align: justify;
    font-family: 'Courier', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}